* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  font-family: 'Oswald', sans-serif;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }

/* This is for the header and navigation for the page */
main {
  height: 746px;
}

.header-main {
  background-color: black;
  color: white;
  border-bottom: 5px solid rgb(214, 214, 214);
  width: 100%;
  position: fixed;
} 

.nav {
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  list-style: none;
}

.nav-main {
  margin: 18px;
  font-size: 15px;
}


/* This starts the styling for the main elements, this is a 2 column flex box */

.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content{
  flex: 1;
  margin: 125px 25px 100px 50px;
  text-align: right;
}

.right {
  flex: 2;
}


/* Styleing for H2, H3, P */

h2 {
  font-size: 35px;
  padding-bottom: 20px;
}

h3 {
  font-size: 25px;
  padding-bottom: 20px;
}

h4 {
  padding-bottom: 12px;
  padding-top: 20px;
}
p {
  font-size: 15px;
  padding-bottom: 5px;
  line-height: 20px;
}

.page-header {
  text-align: center;
}
/* This is the style for all of the quotes that break up the page */
.quotes {
  border-top: 4px solid grey;
  border-bottom: 4px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: white;
  background-color: black;
}
/* Main project gallery */




/* About */

.about-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Luna-Jeff{
  flex: 1;
  margin: 125px 25px 100px 50px;
  text-align: right;
}

.about-right {
  flex: 2;
  margin: 0px 200px 0px 20px;
}

#about-image {
  width: 350px;
}

/* Footer Style */
  
footer {
  bottom: 0;
  width: 100%;
  height: 50px;
  color: black;
  font-size: 10px;
  text-align: center;
  padding-top: 15px;
}

.footer-icon {
  width: 30px;
  padding-top: 10px;
  margin-left: 10px;
  padding-bottom: 10px;
}